<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="PizzaMoreContext" connectionString="data source=DESKTOP-B9DNNF9\SQLEXPRESS;initial catalog=PizzaMoreContext;integrated security=False;;User Id=softuni;Password=softuni;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>